/* ===== ===== ===== ===== General ===== ===== ===== ===== */
html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* ===== ===== ===== ===== Grid ===== ===== ===== ===== */
/* ===== ===== ===== ===== layout-grid ===== ===== ===== ===== */
.grid-container {
  display: grid;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr
}

.grid-item {
  background-color: red
}



.table {
  border: 1;
  border-color: red;
}

.article {

}

.aside {

}





/* ===== ===== ===== ===== full screen ===== ===== ===== ===== */


/* ===== ===== ===== ===== cell styles ===== ===== ===== ===== */
